[Unit]
Description=DoQ Proxy
Wants=network.target
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/doq-proxy
ExecStart=/usr/lib/doq-proxy/proxy -backend ${BACKEND_HOST}:${BACKEND_PORT} -cert ${CERT} -key ${KEY} -listen ${LISTEN_ADDR}:${LISTEN_PORT}
Restart=on-failure
RestartPreventExitStatus=0
# allow to bind to privileged port
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=doq-proxy
Group=doq-proxy

[Install]
WantedBy=multi-user.target
