#!/usr/bin/make -f

%:
	dh $@

client: cmd/client/main.go
	go get ./cmd/client
	go build ./cmd/client

proxy: cmd/proxy/main.go
	go get ./cmd/proxy
	go build ./cmd/proxy

override_dh_auto_clean:
	rm -f go.sum Makefile.iservmake

override_dh_auto_build: proxy client
