#!/usr/bin/make -f

%:
	dh $@

client: cmd/client/main.go
	go get ./cmd/client
	go build ./cmd/client

proxy: cmd/proxy/main.go
	go get ./cmd/proxy
	go build ./cmd/proxy

override_dh_auto_clean:
	rm -f go.sum proxy client

override_dh_auto_build: proxy client

# Not working for go binaries
override_dh_dwz:

# Unused
override_dh_iservmake:
